:root {
  --body: #512a4e;
  --text: whitesmoke;
  --background: #dfced;
  --cards-titles: #333;
  --cards-body-text: black;
  --gitlab: #d3371e;
  --link: #a3ffad;
  --secondary-text: #a1a1a1;
  --headers: #ff5cfd;
  --another-pink: #a1a;
  --around: #331f3e;
}

@font-face {
  font-family: 'dancing-script-bold';
  font-style: normal;
  font-weight: normal;
  src: url('/dancingscript-bold-webfont.woff2') format('woff2'), url('/dancingscript-bold-webfont.woff') format('woff');
}

html {
  /*border: solid 12px var(--body);*/
  height: 100%;
}

body {
  display: grid;
  hyphens: auto;
  background-color: var(--around);
  color: var(--text);
  width: 75%;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: dancing-script-bold;
  color: var(--headers);
}

h1 {
  text-shadow: 0 0 .1em, 0 0 .3em;
  text-align: center;
  font-size: 5.2rem;
}

h2 {
  font-size: 3.5rem;
}

#home img {
  width: 400px;
}

.read-cv {
  margin-top: 2rem;
}

.read-cv a {
  color: var(--link);
}

.badges img {
  max-width: 80px;
  padding: .4em;
}

nav {
  width: 100%;
  padding-top: 2rem;
}

nav canvas,
nav ul {
  display: inline-block;
}

.zdog-canvas {
  background: transparent;
  cursor: move;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: -1;
}

nav li {
  display: inline-block;
  margin-left: 2em;
}

nav li:first-of-type {
  margin-left: 0;
}

nav > .burger { display: none; }

nav > .burger > i,
nav > .burger > i::before,
nav > .burger > i::after {
  background-image: linear-gradient( var(--secondary-text), var(--secondary-text));
}

nav li > a {
  color: var(--secondary-text);
  border-bottom: 2px solid transparent;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem  0;
}

nav li > a:hover,
nav li > a:focus {
  color: var(--link);
  background-color: transparent;
  border-bottom-color: #a9a9a9;
}

nav a,
nav a:hover,
nav a:focus {
  text-decoration: none;
}

nav .active > a,
nav .active > a:hover,
nav .active > a:focus {
  border-bottom-color: var(--link);
  color: var(--link);
}

main {
  max-width: 1024px;
  /*
  Pour sticky footer
  margin: 20vh auto 0;
  transform: translateY(-20%);*/
}

.grid-3 {
  row-gap: 3rem;
}

.box {
  background-color: rgb(250, 250, 250, 0.7);
  border-radius: 4px;
}

.box a {
  text-decoration: none;
  color: var(--cards-body-text);
}

.box i {
  display: inline-block;
  width: 100%;
}

.box > h2,
.box i {
  color: var(--body);
}

.box > h2 {
  background-color: var(--link);
  border-radius: 4px 4px 0 0;
}

.box > h2,
.box-body {
  text-align: center;
}

.box > a > p {
  padding: 1rem;
}

.rounded {
  border-radius: 50%;
}

footer {
  font-size: 90%;
  margin-top: 2.5rem;
}

footer p {
  opacity: .6;
  margin-bottom: .6rem;
}

footer .tag--info {
  text-decoration: none;
  font-size: 110%;
}

#home {
  text-align: center;
}

.blink_me {
  animation: blinker 3s linear infinite;
}

.is-visible {
  display: inline-block;
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

@media (max-width: 480px) {
  nav > .burger {
    display: block;
  }

  nav > ul {
    display: none;
  }

  nav > ul > li {
    display: block;
  }

  nav > ul > li > a{
    font-size: 2.5rem;
  }

  nav li:first-of-type {
    margin-left: 2em;
  }

  nav > ul > li > a,
  nav > ul > li.active > a,
  nav .active > a:hover,
  nav .active > a:focus {
    border-bottom: none;
  }

  .box {
    margin-bottom: 3rem;
  }
}

@media (min-width: 1500px) {
  html {
    border-width: 5em;
  }
  .zdog-canvas {
    top: 5rem;
    right: 5rem;

  }
}
