:root {
  /* --link: #a3ffad; */
  /* --secondary-text: #a1a1a1; */
  /* --headers: #ff5cfd; */
  /* --around: #331f3e; */
  /* --cards-body-text: black; */
  --body: #fafafa;
  --cards-titles: #eafafa;
  --grey: #778ca3;
  --black: #24292e;

  --orange: #ff5200;
  --red: #fe2500;
  --link-nav-focused: #fa1090;
  --link-nav: #c71585;
  --purple: #9d2dab;
  --text: #3b2685;
  --blou: #005cc5;
  --light-blou: #00afef;
  --background: #009c9f;
  --headers: #04c4c7;

  --light-orange: #ffc86f;
  --another-pink: #fdb8c0;
}

@font-face {
  font-family: 'dancing-script-bold';
  font-style: normal;
  font-weight: normal;
  src: url('/dancingscript-bold-webfont.woff2') format('woff2'), url('/dancingscript-bold-webfont.woff') format('woff');
}

html {
  /*border: solid 12px var(--body);*/
  height: 100%;
}

body {
  display: grid;
  hyphens: auto;
  background-color: var(--around);
  color: var(--text);
  width: 75%;
  font-family: sans-serif;
  margin-left: auto;
  margin-right: auto;
  min-height: 100%;
}

h1, h2, h3, h4 {
  font-family: dancing-script-bold;
  color: var(--headers);
}

h1 {
  /*text-shadow: 0 0 .1em, 0 0 .3em;*/
  text-align: center;
  font-size: 5.2rem;
}

h2 {
  font-size: 3.5rem;
}

#home .visage {
  width: 172px;
}

.read-cv {
  margin-top: 2rem;
}

.read-cv a {
  color: var(--link);
}

.badges img {
  max-width: 80px;
  padding: .4em;
}

nav {
  width: 100%;
  padding-top: 2rem;
}

nav canvas,
nav ul {
  display: inline-block;
}

.zdog-canvas {
  background: transparent;
  cursor: move;
  position: fixed;
  top: 1rem;
  right: 1rem;
  z-index: -1;
}

nav li {
  display: inline-block;
  margin-left: 2em;
}

nav li:first-of-type,
nav ul {
  margin-left: 0;
  padding-left: 0;
}

nav > .burger { display: none; }

nav > .burger > i,
nav > .burger > i::before,
nav > .burger > i::after {
  background-image: linear-gradient( var(--link-nav), var(--link-nav));
}

nav li > a {
  color: var(--link-nav);
  border-bottom: 2px solid transparent;
  font-size: 1.5rem;
  font-weight: bold;
  padding: 1rem  0;
}

nav li > a:hover,
nav li > a:focus {
  color: var(--link-nav-focused);
  background-color: transparent;
  border-bottom-color: var(--another-pink);
}

nav a,
nav a:hover,
nav a:focus {
  text-decoration: none;
}

nav .active > a,
nav .active > a:hover,
nav .active > a:focus {
  border-bottom-color: var(--link-nav-focused);
  color: var(--link-nav-focused);
}

main {
  max-width: 1024px;
  /*
  Pour sticky footer
  margin: 20vh auto 0;
  transform: translateY(-20%);*/
}

.grid-3 {
  row-gap: 3rem;
}

.box {
  background-color: rgb(250, 250, 250, 0.7);
  border-radius: 4px;
}

.box a {
  text-decoration: none;
  color: var(--cards-body-text);
}

.box i {
  display: inline-block;
}

.box > h2 {
  /* color: var(--background); */
}

.box p,
.box i {
  color: var(--text);
}

.box > h2 {
  background-color: var(--cards-titles);
  border-radius: 4px 4px 0 0;
  font-family: serif;
}

.box > h2,
.box-body {
  text-align: center;
}

.box > a > p,
.box p {
  padding: 1rem;
}

.rounded {
  border-radius: 50%;
}

.light-orange i {
  color: var(--light-orange);
}

.kiwi i {
  color: var(--headers);
}

span.orange {
  color: var(--light-orange);
}

.pink i {
  color: var(--link-nav-focused);
}

.blou i {
  color: var(--light-blou);
}

.red i {
  color: var(--red);
}

.grey i {
  color: var(--grey);
}

.black i {
  color: var(--black);
}

footer {
  font-size: 90%;
  margin-top: 2.5rem;
}

footer p {
  opacity: 1;
  margin-bottom: .6rem;
}

footer a.mojo {
  font-weight: bold;
  color: var(--link-nav);
  text-decoration: none;;
}


footer .tag--info {
  text-decoration: none;
  color:
}

#home {
  text-align: center;
  background-image: ;
}

#home li {
  display: inline;
}


.blink_me {
  animation: blinker 3s linear infinite;
}

.is-visible {
  display: inline-block;
}

.downloadable-box {
  margin-top: auto;
  margin-bottom: auto;
  font-weight: bold;
}

.downloadable-box {
  width: 100%;
}

.downloadable-box a {
  background-color: var(--another-pink);
  border-color: var(--link-nav);
  border-width: 2px;
  border-style: solid;
}

.downloadable-box a,
.downloadable-box i {
  color: var(--link-nav);
  vertical-align: middle;
}

.downloadable-box a:hover {
  border-color: var(--link-nav-focused);
}

.downloadable-box a:hover,
.downloadable-box i:hover {
  color: var(--link-nav-focused);
}

@keyframes blinker {
  50% {
    opacity: 0.4;
  }
}

@media (max-width: 480px) {
  nav > .burger {
    display: block;
  }

  nav > ul {
    display: none;
  }

  nav > ul > li {
    display: block;
  }

  nav > ul > li > a{
    font-size: 2.5rem;
  }

  nav li:first-of-type {
    margin-left: 2em;
  }

  nav > ul > li > a,
  nav > ul > li.active > a,
  nav .active > a:hover,
  nav .active > a:focus {
    border-bottom: none;
  }

  .box {
    margin-bottom: 3rem;
  }

  .downloadable-box a.fa-file-pdf {
    min-width: 100%;
  }

}

@media (min-width: 1500px) {
  html {
    border-width: 5em;
  }
  .zdog-canvas {
    top: 5rem;
    right: 5rem;

  }
}
